process {

  memory = 6.GB
  cpus = 1

  withName: '.*' {
    publishDir = { "output/${task.process.tokenize(':')[1..-1].join('/').toLowerCase()}" }
  }

  withName: '.*:CNV:.*' {
    publishDir = { "output/cnv/${task.process.tokenize(':')[3..-1].join('/').toLowerCase()}" }
  }
}

shell = ['/bin/bash', '-euo', 'pipefail']
